<div class="container">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="types && brands">
                <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
                <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">{{ sort.name }}</option>
                </select>
                <h5 class="text-warning ml-3 my-3">Brands</h5>
                <ul class="list-group" *ngFor="let item of brands">
                    <li
                        class="list-group-item"
                        style="cursor: pointer;"
                        [class.active]="item.productBrandId === shopParams.brandId"
                        [value]="item.productBrandId"
                        (click)="onBrandSelected(item.productBrandId)"
                    >
                        {{ item.productBrandName }}
                    </li>
                </ul>
                <h5 class="text-warning ml-3 my-3">Types</h5>
                <ul class="list-group" *ngFor="let item of types">
                    <li
                        class="list-group-item"
                        style="cursor: pointer;"
                        [class.active]="item.productTypeId === shopParams.typeId"
                        [value]="item.productTypeId"
                        (click)="onTypeSelected(item.productTypeId)"
                    >
                        {{ item.productTypeName }}
                    </li>
                </ul>
            </ng-container>
        </section>
        <section class="col-9">
            <div *ngIf="products && products.length > 0" class="d-flex justify-content-between aligh-items-center pb-2">
                <div class="mt-4">
                    <app-paging-header
                        [totalCount]="totalCount"
                        [pageSize]="shopParams.pageSize"
                        [pageNumber]="shopParams.pageNumber"
                    >
                    </app-paging-header>
                </div>
                <div class="form-inline">
                    <input
                        #search
                        (keyup.enter)="onProductSearch()"
                        type="text"
                        class="form-control"
                        style="width: 300px;"
                        placeholder="Search"
                    />
                    <button class="btn btn-outline-primary ml-2 my-2" (click)="onProductSearch()">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2" (click)="onProductReset()">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"> </app-product-item>
                </div>
            </div>
            <div *ngIf="totalCount > 0" class="d-flex justify-content-center">
                <app-pager
                    [totalCount]="totalCount"
                    [pageSize]="shopParams.pageSize"
                    (pageChanged)="onPageChanged($event)"
                >
                </app-pager>
            </div>
        </section>
    </div>
</div>
